@import "/css/general.css";

/* //////////////////// */
/* FIRST SECTION */
.ukratko--first--section {
  padding: 120px 0;
}

.ukratko--first--section h1 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 52px;
}

.ukratko--first--section .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ukratko--first--sec--col-1,
.ukratko--first--sec--col-2 {
  flex: 1;
}

.ukratko--first--sec--col-2 {
  display: flex;
  justify-content: flex-end;
}

.ukratko--first--sec--col-2 img {
  width: 60%;
}
.ukratko--first--sec--col-1 p {
  margin-bottom: 2rem;
  font-size: 22px;
  width: 100%;
}

/* //////////////////// */
/* SECOND SECTION */

.ukratko--second--section {
  background: var(--secondary--background);
  padding: 120px 0;
}

.ukratko--second--section #ukratko__p {
  width: 80%;
  font-size: 22px;
  margin: auto;
  text-align: center;
}

.ukratko--second--section iframe {
  margin-top: 6rem;
  width: 100%;
  height: 600px;
}

/* ? IZABRATI MARKU AUTOMOBILA */
.pronadjite__vas__auto h2 {
  text-align: center;
  margin: 5rem 0 3rem 0;
}
.pretraga__form {
  display: flex;
  justify-content: space-between;
}

.option__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.pretraga__div--1,
.pretraga__div--2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.option__div label {
  margin-bottom: 1rem;
  font-size: 24px;
  color: #fff;
}
.option__div select {
  border: 0;
  padding: 8px 10px;
  font-size: 16px;
  outline: 0;
  border-radius: 10px;
  font-weight: 600;
}

.pretraga__div {
  margin-top: 3rem;
  text-align: center;
}
.pretraga__div a {
  background: var(--p--color);
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 60px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.pretraga__div a:hover {
  background: #fff;
}

.ne__pronalazite__model--div {
  text-align: center;
  margin-top: 6rem;
}
.ne__pronalazite__model--div h4 {
  margin-bottom: 2rem;
  font-size: 30px;
}
.ne__pronalazite__model--div p {
  width: 60%;
  margin: auto;
  font-size: 22px;
}

/* ////////////////////////// */
/* ! OSTALE USLUGE ! */

.ostale--usluge--section {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ostale--usluge--section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}

.ostale--usluge--sec--col-1 img {
  width: 600px;
  height: 400px;
}

.ostale--usluge--sec--col-2 {
  padding-left: 10rem;
}

.ostale--usluge--sec--col-2 h2 {
  margin-bottom: 1rem;
}

/* SECOND SECTION */
.ostale--usluge--karte {
  padding: 120px 0;
  background: var(--secondary--background);
}

.cards-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.card {
  width: 600px;
  height: 130px;
  background: var(--secondary--background);
  filter: drop-shadow(0px 2px 13px rgba(0, 0, 0, 0.35));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 1rem;
}
.card .title {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

/* INDEX FIFTH SECTION */

.index--fifth--section {
  background-image: url("/images/kontaktirajte-nas-bg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  position: relative;
}

.index--fifth--section--bg {
  background: hsla(0, 100%, 26%, 0.15);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.index--fifth--section--bg a {
  position: relative;
  top: 2.5rem;
  z-index: 1;
  padding: 0.8rem 1rem;
  font-size: 24px;
}

.index--fifth--section--bg a::after {
  width: 50%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--red--color);
  z-index: -1;
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
  transition: all 0.5s ease;
}

.index--fifth--section--bg a:hover::after {
  width: 100%;
  border-radius: 50rem;
}

@media screen and (max-width: 1620px) {
  .card {
    width: 550px;
  }
}
@media screen and (max-width: 1490px) {
  .card {
    width: 480px;
  }
  .ostale--usluge--sec--col-2 {
    padding-left: 3rem;
  }
  .ostale--usluge--sec--col-1 img {
    width: 500px;
    height: 350px;
    object-fit: cover;
  }
}
@media screen and (max-width: 1300px) {
  .card {
    width: 420px;
  }
}
@media screen and (max-width: 1260px) {
  .ukratko--first--sec--col-1 p {
    font-size: 20px;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1190px) {
  .pretraga__form {
    flex-direction: column;
  }
  .option__div {
    margin-bottom: 2rem;
  }
  .ukratko--first--sec--col-2 img {
    width: 85%;
  }
  .ostale--usluge--section {
    padding-bottom: 80px;
  }
  .ostale--usluge--karte {
    padding: 80px 0;
  }
  .ostale--usluge--section .container {
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
  }
  .ostale--usluge--sec--col-2 {
    padding: 0;
    margin-top: 2rem;
  }
  .ostale--usluge--sec--col-2 p {
    width: 80%;
    margin: auto;
  }
  .ostale--usluge--section #title {
    font-size: 54px;
  }
  .ostale--usluge--sec--col-1 img {
    width: 100%;
  }
}

@media screen and (max-width: 1150px) {
  .card {
    width: 100%;
    margin-bottom: 2rem;
    height: 150px;
  }

  .cards-row {
    flex-direction: column;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 950px) {
  .ukratko--first--section .container {
    flex-direction: column;
  }
  .ukratko--first--sec--col-2 img {
    margin-top: 2rem;
    width: 100%;
  }
  .ukratko--first--sec--col-1 p {
    text-align: center;
  }
  .ukratko--first--section h1 {
    font-size: 46px;
    margin-bottom: 2rem;
  }
  .ne__pronalazite__model--div p {
    width: 100%;
  }
  .ukratko--first--section {
    padding-bottom: 80px;
  }
  .ukratko--second--section {
    padding: 80px 0;
  }
}

@media screen and (max-width: 768px) {
  #first__container {
    width: 100%;
  }
  .card .title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .pretraga__div--1,
  .pretraga__div--2 {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .card {
    height: 200px;
  }
}
@media screen and (max-width: 425px) {
  #first__container {
    width: 90%;
  }
  .ukratko--first--section h1 {
    font-size: 36px;
  }
  .pronadjite__vas__auto h2 {
    font-size: 30px;
    margin: 2rem 0;
  }
  .ukratko--second--section #ukratko__p {
    width: 90%;
  }
  .ukratko--second--section iframe {
    margin-top: 3rem;
  }
  .ukratko--second--section,
  .ostale--usluge--karte {
    padding: 40px 0;
  }
  .container {
    width: 85%;
  }
  .ukratko--first--section,
  .ostale--usluge--section {
    padding-bottom: 40px;
  }
  .ostale--usluge--sec--col-2 p {
    width: 100%;
  }
  .ostale--usluge--section #title {
    font-size: 36px;
  }
  .ostale--usluge--sec--col-2 h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  .ukratko--first--section h1,
  .ostale--usluge--section #title {
    font-size: 30px;
  }
  p,
  .ukratko--second--section #ukratko__p,
  .ne__pronalazite__model--div p {
    font-size: 20px;
  }
  .ne__pronalazite__model--div h4 {
    font-size: 24px;
  }
  .pronadjite__vas__auto h2,
  .ostale--usluge--sec--col-2 h2 {
    font-size: 28px;
  }
  .card {
    height: 220px;
  }
}
